footer{
    background-image: radial-gradient(circle at 44% 9%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 74%,transparent 74%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 0% 23%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 8%,transparent 8%, transparent 69%,transparent 69%, transparent 100%),radial-gradient(circle at 87% 35%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 10%,transparent 10%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 22% 7%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 16%,transparent 16%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 37% 26%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 7%,transparent 7%, transparent 9%,transparent 9%, transparent 100%),radial-gradient(circle at 86% 59%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 77%,transparent 77%, transparent 95%,transparent 95%, transparent 100%),radial-gradient(circle at 75% 83%, hsla(153,0%,47%,0.05) 0%, hsla(153,0%,47%,0.05) 35%,transparent 35%, transparent 86%,transparent 86%, transparent 100%),linear-gradient(0deg, hsl(279,0%,100%),hsl(279,0%,100%));
    box-shadow: 0 -6px 14px -6px rgba(50,50,50,.5);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 250PX;
    font-family: 'Average Sans', sans-serif;
    color: rgb(77, 77, 77);
}


/*fLogo y datos*/
.container_logoImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}
.container_img img{
    width: 150px;
}

.container_Datoscontc li{
    margin: 15px ;
    list-style: none;
    font-size: 20px;
}
.container_Datoscontc a{
    text-decoration: none;
    font-size: 20px;
}

/*----------------------------------------*/

/*formulario de contacto*/
.container_formContc{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    border:none;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(50,50,50,.5);
    
    padding: 15px;
}

.container_contc{
    margin: 10px 0;
}
.container_contc input{
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgb(192, 192, 192);
    
}
.container_contc label{
    font-size: 16px;
}
.btn_contc{
    width: 200px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: rgb(226, 16, 177);
    color: white;
    font-size: 16px;
    margin: 10px 0;
    margin-left: 60px;
    
}
.iconos{
    display: flex;
}
.iconos img{
    width: 40px;
    margin: 0 10px;
}
/*-------------------------------*/
@media screen and  (max-width: 750px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container_logoImg{
       
        margin-right: 0;
    }
    .iconos img{
        width: 40px;
        margin: 15px 10px;
    }
}